div {
  min-height: 20rem;
  background-size: cover;
  background-position: 0px 70%;

  h1 {
    background: #faf4c0;
    padding: 0.5rem 1rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    left: 0rem;
    top: 2rem;
    color: #2c2630;
  }
}
