form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  textarea {
    min-height: 10rem;
    resize: vertical;
  }
}
